.footer-find-local-dealer {
    text-align: center;
    padding: 4.250em 0;

    background-size:cover;
    background: #ffe5b6 url(../images/bg-footer-search.jpg) no-repeat;

    h3 {
        font-size: 3.563em; 
        color: #000;
        font-weight: 400;
        padding-bottom: 15px;
        background: url(../images/bg-h2.gif) no-repeat bottom center;        
        margin-bottom: 0.439em;

        @include media-breakpoint-down(md){
            font-size: 2.5em;
        }
    }

    p {
        font-style: italic;
        font-weight: 400;
    }


}