
.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% auto;
    position:relative;
    min-height: 480px;
    background-image: url(../images/hero-default.jpg);  


    @include media-breakpoint-down(md) {
        background-size: 100% auto;
        min-height: 300px ;
        height: 300px !important;
        background-position: 0 53px;
    }               
    @include media-breakpoint-down(sm) {
        min-height: 200px;
        height: 200px !important;
    }    
    @include media-breakpoint-down(xs) {
        min-height: 150px;
        height: 150px !important;
    }     


    .home & {
        height: 100vh;
        min-height: 890px;
        background-attachment: fixed;
        background-image: url(../images/hero-home.jpg); 

        @include media-breakpoint-down(md) {
            min-height: 720px;
        }    

        @include media-breakpoint-down(xs) {
            min-height: 720px;
        }    

        @media only screen and ( max-height: 520px ) {
            min-height: 900px;
        }                  
    }

    .warranty & {
        height: 29.375em;
        background-image: url(../images/hero-warranty.jpg); 
    }

    .products & {
        height: 29.375em;
        background-image: url(../images/hero-products.jpg); 
    }    

    .factory-authorized-dealer & {
        //height: 29.375em;      
        background-image: url(../images/hero-factory-dealer.jpg);
    }

    .dealers &, .dealers-search &, .locations & {
        background-image: url(../images/hero-default.jpg);  
    }


    .locations & {
        height: 34.375em !important;
        background-size: cover;
    }

    .dealers-single &, .single-dealers & {
        height: 34.375em;
        background-image: url(../images/hero-dealers-single.jpg);  
    }
}