#hero-search-form {
    width: 100%;
    max-width: 860px;
    position: relative;
    top: 10.625em;
    border: 2px solid #fff;
    margin: 0 auto 0;
    color: #fff;

        form {
            background: rgba( 0,0,0,0.3);
            margin: 15px;
            padding: 1.250em 1.875em;

            input[type=text] {
                background: transparent;
                border: none;
                color: #000;
                font-size: 1.250em;
                font-weight: 400;

                &, &::placeholder{
                    color: #898989;
                }            
            }

            .btn {
                color: #fff;
                font-size: 20px;
                padding: 4px 10px;

                &:after {
                    content: none;
                }
            }             
        }
 
    @include media-breakpoint-down(md) {   
        width: calc(100% - 30px);
    }    

    @include media-breakpoint-down(xs) {      

        form input[type=text] {
            font-size: 1em;
        }

        #location_button {

                    font-size: 1.125em !important;
                    line-height: 1em !important;

                    &:after {
                        content: ' ';
                        display: inline-block;
                        width: 32px;
                        height: 32px;
                        background: url(../images/location-button.png) no-repeat;
                        background-size: cover;
                        padding: 0.556em 0;
                    }

                    @media only screen and ( max-width: 1300px ) {
                        font-size: 0.75em !important;
                        line-height: 1.3em !important;
                    }                       
                    @include media-breakpoint-down(sm) {
                        font-size: 1em !important;
                        line-height: 1.3em !important;
                    }   

        }
    }        
}