.home section.home_search {
    position: absolute;
    width: 100%; 
    top: 25vh;
    display: flex;

    @include media-breakpoint-down(md) {
        top: 10vh;
    }    

    @include media-breakpoint-down(sm) {
        top: 90px;
    }        

        form {
            border: 2px solid #fff;                     
            color: #fff;
            @include media-breakpoint-down(md) {                
                margin: 0 -15px 15px;
            }    

            .form-container {
                padding: 0.875em;                
                background: rgba(0,0,0,0.3);                
                padding: 1.875em 0;
                margin: 0.875em;
                @include media-breakpoint-down(md) {   
                    text-align: center;
                    padding: 1.875em 0;
                }   

                .col-md-8 {
                    padding-left: 2em;
                }
            }

            .form-service-area {
                @extend .col-sm-4;
                text-align: right;
                img {
                    max-width: 100%;
                    width: 100%;
                    height: auto;

                    @include media-breakpoint-down(lg) {
                        width: auto;
                    }                    
                }

                    
                @include media-breakpoint-down(md) {                
                    display: none;
                }    
            }           

            h1 {
                font-size: 3.125em;
                margin: 0 0 12px;
                padding: 0;

                small {
                    display: block;
                    font-family: 'Montserrat';
                    font-size: 0.360em;   
                    font-weight: 200;
                    color: #fff;

                }
            }

            .find_dealer_form {
                width: 100%;
                margin-top: 1.00em;
            }

            #location_button {
                margin-bottom: 9px;
                font-weight: 600;
                @media only screen and ( max-width: 360px ) {       
                    font-size: 14px;
                    line-height: 28px;
                }    
            }
        }


    blockquote {
        @extend .col-md-3;
        background: $brand-tertiary;
        border: none;
        text-align: center;
        padding: 0 2em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-breakpoint-down(md) {
            height: auto;
            padding: 1.155em 1em;
        }            

        strong {
            display: block;
            font-size: 1.750em;
            color: #fff;
            font-family: "Roboto Condensed";
            font-weight: 400;
            line-height: normal;
            margin-bottom: 21px;
        }

        .btn {
            font-size: 0.800em;
        }
    }  
   
}