 .home-finder {
    position: relative;
    z-index: 3;
    margin: -30vh 0 0 0;

    @include media-breakpoint-down(md) {                
        margin: 0;
        position: static;
    }    

    h4 {
        font-family: "Roboto Condensed";
        font-size: 3.438em;
        font-weight: 400;
        background: rgba(255,255,255,0.5);
        margin: 0;
        padding: 0.6em 15px;
        color: #252525;
        text-align: center;
    }

    article {
        background: #fff;
        padding: 2.5em 1.875em;
        @include media-breakpoint-down(xs) {
            padding: 0;
        }    

        ul {
            background: url(../images/hvac.jpg) no-repeat;
            background-size: cover;
            margin: 0;
            padding: 25px 30px;
            list-style: none;
            display: table;
            width: 100%;

            @include media-breakpoint-down(xs) {
                padding: 20px;
            }             

            li {
                @extend .col-sm-6;

                p {
                    background: rgba(0,0,0,0.3);
                    text-align: center;
                    padding: 2.5em 0 0 0;
                    min-height: 200px;

                    strong {
                       color: #fff;
                       font-size: 2.188em;
                       font-weight: 300;
                       display: block;
                       text-transform: uppercase;
                       margin-bottom: 20px;
                    } 

                    .btn {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        &:after {
                            content: ''
                        }

                        @include media-breakpoint-down(xs) {
                            font-size: 1.286em;
                        }    
                    }   
                }
                
            }
        }        
    }

 }  