.home section.warranty {
    font-weight: 500;

    /* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
    @-moz-document url-prefix() {
        font-weight: 300;
    }        

    p {
        margin: 0 0 2.188em 0;
    }

    img {
        margin-bottom: 2.188em;
    }

    blockquote {

        @extend .col-md-12;
        font-size: 1em;
        background: $brand-tertiary;
        color: #fff;
        text-align: center;
        padding: 1.875em;
        font-style: italic;
        margin: 0 auto 3.125em auto;

        font-weight: 300;


        strong {
            font-size: 1.375em;
            font-weight: 500;
            display: block;
            padding: 0 3em;



            @include media-breakpoint-down(sm) {
                    padding: 0 0 15px;            
            }        
        }
    }

    @include media-breakpoint-down(sm) {

        .btn {
            display: block;
            margin: 8px 0;
        }
    }    

}