.home .dealer {
    font-weight: 500;

    /* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
    @-moz-document url-prefix() {
        font-weight: 300;
    }               

    h2 {
        color: #000;
    }    
    h4 {
        margin-bottom: 4.375em;
        font-weight: 500;

        /* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
        @-moz-document url-prefix() {
            font-weight: 300;
        }          
    }

    .col-md-4 {
        @include media-breakpoint-down(lg) {
            text-align: right;
        }    
    }

    img {
        max-width: 100%;
        @include media-breakpoint-down(md) {
            margin: 0 auto 15px auto;
            display: block;
            position: relative;
            right: -14px;
        }           
    }

    .btn {
        margin: 2.813em 0 0;
        @include media-breakpoint-down(md) {
            margin: 2.813em auto;
            display: table;
        }    
    }
}