.home section.products {
    padding: 4.500em 0;
    background: url(../images/bg-home-products.jpg) no-repeat center center;
    background-size: cover;

    .scrollable-btn { 
        width: 100%; 
        display: none; 
        position: relative;
    }
            

    @include media-breakpoint-down(md) {

            .scrollable-container {
                overflow: hidden;
                position: relative;
                margin: 0 -15px;
                padding: 0 15px;
            }

            .scrollable-btn { 
                display: block; 
                position: absolute;
                height: 20px;
                width: calc(100% - 30px);
                top: calc(50% - 10px);
                z-index: 1;

                & .right, & .left {
                    position: absolute; 
                    z-index: 3; 
                    top: -30px; 
                    cursor: pointer; 
                    font-size: 50px; 
                    color: #000
                }
                & .right { 
                    right: -10px;
                }
                & .left { 
                    left: -10px;
                }                   
            }               
    }    


    ul {
        margin: 3.750em 0 0 0;
        padding: 0;
        list-style: none;

        @include media-breakpoint-down(md) {
            position: relative;
            display: flex;
            width: 99999px;
            flex-direction: row;
            margin: 0;

            li {
                max-width: calc(100vw - 85px);
                width: calc(100vw - 85px);
                margin:0 40px 0 20px;
                float: none; clear: both;

                &:nth-child(4) {
                    clear: none;
                } 


            }

        }    

        li {
            @extend .col-md-4;
            @extend .col-sm-12;

            font-weight: 400;

            /* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
            @-moz-document url-prefix() {
                font-weight: 300;
            }                

            &:nth-child(4) {
                clear: left;
            }

            margin-bottom: 15px; 

            article { 
                background: #fff; 
            }

            h5 {
                background: $brand-tertiary;
                color: #fff;
                text-transform: uppercase;
                padding: 15px 20px;
                margin: 0 20px 20px -20px;
                font-weight: 400;
                font-family: 'Montserrat';
                position: relative;
                z-index: 2;

                /* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
                @-moz-document url-prefix() {
                    font-weight: 300;
                }                    
            }

            img {
                margin: 0 auto 15px;
                display: block;
            }

            a p {
                color: #838383;
                padding: 0 15px 30px;
            }

        }
    }

}