.reviews_all{
     font-family:"Arial";
    .head{
        display:table;
        margin-bottom:30px;
        .logo, .content{
            display:table-cell;
        }

        .content{
            vertical-align: top;
            padding-left: 15px;
        }

        .logo{
            padding-top:10px;
        }
        strong{
            font-size:14px;
        }

        .rate, .stars{
            color:#e7711b;
            font-size:20px;
        }

        .google{
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 14px;
            color:#7d7d7d;
            img{
                height:22px;
            }

        }

    }
    .data{
        display:table;
        font-size:14px;
        .logo-container{
            display:table-cell;
            padding-top:10px;
            .logo{
                background-color:red;
                padding: 9px 15px;
                border-radius: 24px;
                color:#fff;
                font-size:26px;
                font-weight:bold;
            }
        }
        .content{
            display:table-cell;
            vertical-align:top;
            padding-left:10px;
            .name{
                color:#528aef;
                font-weight:bold;
            }
            .time{
                color:#9e9e9e;
                font-weight:bold;
            }
            .user_review{
                color:#000;
                margin-left:5px;
            }
        }
    }

    .stars{
        span{
            @extend .fa;
            color:#e7711b;
        }
        .full{
            @extend .fa-star;
        }
        .half{
            @extend .fa-star-half-o;
        }
        .hollow{
            @extend .fa-star-o;
        }
    }
    
}