.btn {
    border-radius: 0;
    font-weight: 300;
    font-size: 1em;
    padding: 15px 35px;

    &:after {
        content: "\f105";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: 8px;
    }


    &.btn-primary {
        border: none;
        &:hover {
            background: $brand-secondary;
            color: #000;
        }
    }

    &.btn-default{
        border-color: $brand-primary;
        &:hover {
            background: transparent;
        }
    }

    &.btn-warning {
        border: none;
        background: #f1b81a; 
    }    
}