form{
	.gform_body{
		ul{
			li{
				label{
					&.gfield_label{
						display:none !important;
					}
				}

				.ginput_container{
					input, textarea{
						padding: 1em !important;
						width: 100% !important;
						font-size: 16px;
						line-height: 1.42857;
						color: #000;
						background-color: #fff;
						border: 1px solid #ebebeb;
						border-radius: 0;
						transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
					}

					.validation_message{
						color:#303798 !important;
					}
				}

				.validation_message{
					color:#303798 !important;
				}

				.g-recaptcha{
					> div{
						margin:1em auto;
					}
				}

				&.gfield.gfield_error{
					background-color:#d7d8ed !important; 
					width:100% !important;
					border-top: 1px solid #303798;
					border-bottom: 1px solid #303798;

					input{
						border: 1px solid #303798 !important; 
					}
				}
			}
		}
	}	

	.gform_footer{
		.gform_button{
			@extend .btn;
			@extend .btn-warning;
		}
	}

	.validation_error{
		color:#303798 !important;
		width:100% !important;
		border-top: 0 !important;
		border-bottom:0 !important;
		margin-bottom:0 !important;
		font-size:1em !important;
	}
}

.gform_wrapper{
	max-width:100% !important;

}