/*****************************************************************************
  NO NEED TO USE @font-face here if the font was 
  added via npm .... 
  see main.scss ... that's where you will include the font ONLY
  
  
  to add new font:
  1. add in package.json
  2. @import in main.scss
  3. all done

-------------------------- J
******************************************************************************/

html, html a, body {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;  
}


body {
      font-weight: 400;
}

/* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
@-moz-document url-prefix() {
  body {
    font-weight: 300 !important;
  }
}



p {
  margin-bottom: 1.818em;
}

h2 {
    font-weight: 400;
    padding-bottom: 15px;
    background-image: url(../images/bg-h2.gif);
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: center;
    color: #464646;
    margin-bottom: 0.526em;
    @include media-breakpoint-down(md) {
        margin-bottom: 1em;
        font-size: 2.500em;
    }   

    small {
      display: block;
      color: #464646;
    } 

}

h4 {
    font-weight: 300;
    font-family: "Montserrat";
    line-height: normal;
}


h6 {
    background: $brand-tertiary;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: 2.188em 0.5em;
    text-align: center;
    font-family: 'Montserrat'
}