#header_main  {
  .navbar-brand { animation:  1s ease-out 0s 1 fadeIn; }

  @include media-breakpoint-up(lg) {
    #nav_main { animation:  0.5s ease-out 0s 1 slideInDown; }
  }  


  #find_a_dealer { 
    @include media-breakpoint-up(lg){
        animation:  0.5s ease-out 0s 1 slideInRight; 
     } 
  }
}

#footer_main.animate{
   animation:  1.5s ease-out 0s 1 fadeIn; 
}

.btn:hover {
  animation:  1.2s ease-out 0s infinite pulse;
}

h2.animate {
  animation:  1s ease-out 0s 1 pulse; 
}

.home {
  .dealer {
    .col-md-4.animate { animation:  0.5s ease-out 0s 1 slideInLeft; }
    .col-md-8.animate { animation:  0.5s ease-out 0s 1 slideInRight; }
  }

  .warranty {
    .col-md-6.animate:first-of-type {
      animation:  0.8s ease-out 0s 1 slideInRight;
    }
    .col-md-6.animate:last-of-type {
      animation:  0.8s ease-out 0s 1 slideInLeft;
    } 

    blockquote.animate { animation:  0.8s ease-out 0s 1 slideInUp; }  
  }

  @include media-breakpoint-up(md) {
    section.products li.animate:nth-child(n) { animation:  0.4s ease-out 0s 1 slideInUp; }
    section.products li.animate:nth-child(2n)  { animation:  0.8s ease-out 0s 1 slideInUp; }
    section.products li.animate:nth-child(3n) { animation:  0.6s ease-out 0s 1 slideInUp; }
  }
}

.footer-find-local-dealer {
  h3.animate { animation:  1s ease-out 0s 1 slideInDown; }
  #location_button.animate {  animation:  1s ease-out 0s 2 pulse; }
  form.animate { animation:  1s ease-out 0s 1 slideInUp; }
}

.home section.home_search {
  form { animation:  0.8s ease-out 0s 1 slideInLeft; }
  blockquote { animation:  0.8s ease-out 0s 1 slideInRight; }
}

.home-finder {
  h4.animate  { animation:  1s ease-out 0s 1 fadeIn; }
  li.animate:last-child { animation:  0.4s ease-out 0s 1 slideInUp; }
  li.animate:first-child { animation:  0.8s ease-out 0s 1 slideInUp; }
}