

header #nav_main a, footer *, #back_to_top, .btn, .social, .scrollable {
	transition: all 0.5s ease;
}

@include media-breakpoint-down(lg){
    .container {
        width: 100%;
    }
}    

[v-cloak] * { display:none }

.labels_override {
    line-height: 20px;
}

body{
    color: #464646;

    @include media-breakpoint-down(md) {
        font-size: 16px;
    }    
    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }        
}

hr {
    float: none;
    clear: both;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 3.125em 0;
}


// UL with check icon
.checked_list {
    list-style: none;
    margin: 15px 0;
    padding: 0;

    li {
        position: relative;
        padding-left: 2.188em;
        &:before {
            content: "\f05d";
            font-family: "FontAwesome";
            left:0px;
            position:absolute;
            top:0;
            color: #000;
            font-size: 1.250em;
         }

    }
}


// USE MY LOCATION BUTTON 
//USED IN HEADER/FOOTER
#location_button {
    background: $brand-secondary;
    font-size: 1.375em;
    line-height: 1.375em;
    color: #fff;
    padding: 12px 58px 12px 20px;
    border-radius: 25px;
    display: inline-block;
    position: relative;
    font-weight: 400;
    margin-bottom: 8px;

    &:after {
        display: inline-block;
        width: 44px;
        height: 44px;
        content: url(../images/location-button.png);
        border-radius: 100%;
        overflow: hidden;
        position: absolute;
        right: 4px;
        top: 4px;            
    }

    &:hover {
        animation:  1.2s ease-out 0s infinite pulse;            
    }
}

// USE MY LOCATION FORM 
//USED IN HEADER/FOOTER
    .find_dealer_form {
        width: 96%;
        max-width: 770px;
        margin: 0 auto;
        border: 1px solid #fff;
        background: rgba(255,255,255,0.7);

        input[type=text] {
            background: transparent;
            border: none;
            color: #000;
            font-size: 1.250em;
            font-weight: 400;

            &, &::placeholder{
                color: #898989;
            }            
        }

        .btn {
            color: #fff;
            font-size: 20px;
            padding: 4px 10px;

            &:after {
                content: none;
            }
        }
    }

#checked_list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        @extend .col-md-6;
        text-transform: uppercase;
        position: relative;

        &:before {
            content: url(../images/checked_list.png);
            position: absolute;
            top: -2px;
            left: -3px;
        } 

        p  {
            background: $brand-primary;
            color: #fff;
            font-size: 1.250em;   
            padding: 0.800em 2.250em;
            line-height: 1em;   


            &:last-of-type {
                margin: -20px -10px 30px 30px;
                background: transparent;      
                @include media-breakpoint-down(md) {
                    margin: -20px -10px 30px -10px;
                }
            }    

            em {
                background: #e1e1e1 !important;
                display: block;
                margin: -0.8em -2.25em;
                padding: 1.200em;
                color: #464646;
                font-style: normal;
                text-transform: none;
                line-height: 1.75em;
                font-size: 0.800em;
            }            
        }



        strong, a {
            color: #fff;
        }
    }
}

.guarantee {
    display: table;
    background: $brand-primary url(../images/guarantee.png) no-repeat top right;
    background-size: auto 100%;
    color: #cccccc;
    font-style: normal !important;
    padding: 2.500em 30% 2.5em 2.5em;
    width: 100%;
    margin: 6.250em 0;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);

    @include media-breakpoint-down(md) {
        font-size: 12px;
    }    
    @include media-breakpoint-down(sm) {
        background-image: none;
        padding-right: 2.5em;
        text-align: center;

        br {
            display: none;
        }
    }    

        p {
            margin-bottom: 11.563em;
            @include media-breakpoint-down(md) {
                margin-bottom: 1em;
            }    
        }

        h4 {
            color: #fff;
            font-size: 2.313em;
            font-style: normal !important;
            font-family: 'Roboto Condensed' !important;

            em {
                font-style: normal;
            }
            strong {
                font-size: 1.270em;
                font-weight: 400;
                text-transform: uppercase;
                color: #fff !important;
                display: block;
            }
        }

        
}

a.social {
    display: inline-block;

    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 1px solid transparent;
    background-image: url(../images/social-sprite.png);
    background-repeat: no-repeat;

    &:hover {
        //border-color: $brand-primary;
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        background-color: #ccc;
    }

    span {
        display: none;
    }

    &.social_fb, &.social_Facebook { background-position: 5px 5px; }
    &.social_tw, &.social_Twitter { background-position: -25px 5px; }
    &.social_gb, &.social_GoogleMyBusiness { background-position: -61px 5px; }
    &.social_hz, &.social_Houzz { background-position: -100px 5px; }
    &.social_li, &.social_Linkedin { background-position: -136px 5px; }
    &.social_ig, &.social_Instagram { background-position: -171px 5px; }    
}

#sfl_container_infowindow {
    font-size: 0.923em;
    a {
        font-size: 1.125em;
        font-weight: bold;
    }
}

.clearfix {
    float: none;
    clear: both;
}