.dealers-search, .locations {

    .page-container header {
        top: -4.063em !important;
        height: 4.063em !important;

        h1 {
            font-size: 1.250em;
            display: table;
            width: 100%;
            text-align: center;
            padding: 30px 0;

            font-weight: 500 !important;
            
            @-moz-document url-prefix() {
                font-weight: 400 !important;
            }               

            &:after {
                margin: 10px auto;
            }
        }
    }

    #sfl_api {
        display: flex;
        flex-direction: row-reverse;

        @include media-breakpoint-down(md) {
            display: block;
        }    

    }

    #sfl_map_container {
        @extend .col-md-5;
        @extend .col-sm-12;
        
        margin-bottom: 15px;

        display: flex;
        justify-content: space-around;
        align-items: flex-start;        



        #sfl_map {
            position: sticky !important;
            top: 120px;
            width: 100%;
            height: calc(100vh - 70px);
        }


            
        @include media-breakpoint-down(sm) {
            float :none
        }            
    }


    #sfl_results_container {
        @extend .col-md-7; 
        @extend .col-sm-12;  

        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
        }        

        .dealer_results {
            margin: 0; 
            padding: 0;
            list-style: none;

            li {
                border: 1px solid #ebebeb;
                padding: 15px;
                color: #464646;
                margin-bottom: 15px;

                .result-item {
                    display: table;
                    width: 100%;
                    padding: 15px 0;  
                }

                p {
                    margin: 1.250em 0;
                    @include media-breakpoint-down(sm) {
                        text-align: center;
                    }    
                }

                address {
                    h4 {
                        font-size: 1em;
                        font-weight: 400;
                        position: relative; 
                        margin: 35px 0 35px;
                        padding: 0;
                        //min-height: 3em;
                        //display: flex;
                        //align-items: baseline;

                        font-weight: 600;
                        
                        @-moz-document url-prefix() {
                            font-weight: 400;
                        }                           

                        & .distance {

                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            margin: 0;
                            padding: 0;
                            float: left;


                            & strong {
                                background: $brand-primary;
                                position: absolute;
                                z-index: 2;
                                color: #fff;
                                display: inline-block;
                                width: 27px;
                                height: 27px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 0.65em;
                                line-height: 0.65em;
                                text-align: center;
                                bottom: 22px;
                                left: 0;
                                font-weight: 300 !important;
                                border-radius: 100%;
                                padding-bottom: 4px;                                
                            }

                            &:before {
                                content: "\f041";
                                font-family: 'FontAwesome';
                                font-size: 3em;
                                color: $brand-primary;
                                position: absolute;
                                z-index: 0;
                                left: 0;
                                bottom: 0px;
                                text-shadow: 0px 4px 0px rgba(255,255,255,1);
                            }

                            &:after {
                                content: "miles";
                                position: absolute;
                                bottom: -14px;
                                font-size: 9px;
                                color: $brand-primary;
                                font-weight: bold;
                            }                            
                        }

                    }

                    p {
                        float: none;
                        clear: both;
                        position: relative;
                        padding-left: 40px;
                        font-weight: 500;
                        
                        @-moz-document url-prefix() {
                            font-weight: 300;
                        }    


                        &:before {
                            content: "\f015";
                            font-family: 'FontAwesome';
                            color: $brand-primary;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                        @include media-breakpoint-down(sm) {
                            text-align: left;
                        }    
                    }

                    > em {
                        position: relative;
                        display: inline-block;
                        padding-left: 40px;
                        font-style: normal;

                        font-weight: 600;
                        
                        @-moz-document url-prefix() {
                            font-weight: 400;
                        }  

                        &:before {
                            content: "\f095";
                            font-family: 'FontAwesome';
                            color: $brand-primary;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }                        
                    }                    
                }

                &:nth-child(odd) .result-item {
                    background: #ebebeb;
                }

                &:nth-child(even) .result-item {
                    background: #e1e1e1;
                }                

                

                div:not(.result-item):first-of-type {
                    @extend .pull-right;
                    border-left: 1px solid #d7d7d7 !important;

                    @include media-breakpoint-down(sm) {
                        border-left: none !important;
                        border-bottom: 1px solid #d7d7d7;
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                    }    
                }                



                div:not(.result-item) {
                    @extend .col-sm-6;
                }

                .btn {
                    display: block;
                    text-transform: uppercase;
                    padding: 15px 0;
                    margin-bottom: 10px;
                    font-size: 0.938em;

                    &:after {
                        content: '';
                    }

                    &.btn-warning {
                        font-weight: 400;
                    }
                }

                h5 {
                    font-size: 0.875em;
                    margin: 0 0 12px;
                    padding: 0 0 12px;                    
                    text-transform: uppercase;
                    text-align: center;
                    border-bottom: 1px solid #d7d7d7;
                    font-family: 'Montserrat';
                    position: relative;

                    &:before {
                        content: "\f017";
                        font-family: 'FontAwesome';
                        color: $brand-primary;
                        position: absolute;
                        left: 0;
                        top: 0;
                    } 

                }

                figure {
                    margin-bottom: 15px;

                    img {
                        max-width: 100%;
                    }
                        text-align: center;
                }

                ul.schedule {
                    font-size: 0.875em;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        margin-bottom: 6px;
                        border: none;
                        padding: 0;

                        strong {
                            @extend .col-sm-4;
                            @extend .col-xs-4;
                            padding: 0;
                            font-weight: 400;
                            
                            @-moz-document url-prefix() {
                                font-weight: 300;
                            }                              
                        }
                        em {
                            @extend .col-sm-8;
                            @extend .col-xs-8;
                            font-style: normal;
                        }                        
                    }

                }
            }
        } 
    }
  


    .zero-results {
        @extend .col-md-12;
        font-weight: 500;
        
        @-moz-document url-prefix() {
            font-weight: 300;
        }  

         .row {
            font-size: 10px;
            margin-top: 4.125em;
         }   

        h2 {
            font-size: 2.700em;
        }         

        .bg-grey {
            text-align: center;
            h2 { display: block}
            figcaption {
                color: #fff;
                background: $brand-primary;
                text-align: center;
                padding: 15px;
                font-style: italic;
            }
        }

        .dealer {
            .col-md-8.pull-right {
                width: 100%; 
                float: none;
                clear: both;
                margin-top: 2em;
            }
        }    

        .bg-grey, .dealer {
            background: #f7f7f7;
            margin-top: 0 15px 0;
            padding: 15px;

            .container {
                width: 100%;
            }

            img {
                max-width: 100%;
            }
        }    

    }

}