div.dealers-single {
    position: relative;
    top: -8.125em;
    background: #fff;
    display: table;
    width: calc(100% + 30px);
    padding: 30px 15px;
    margin: 0 -15px;


    .dealer_nap {
        @extend .col-md-6;
        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
        }            

        address {
            background-color:#ccc;
            overflow:auto;
            padding:10px;
            h1 {
                margin: 8px 0;
                padding: 0;
                font-size: 1.875em;
                font-family: 'Montserrat';
                font-weight: 500;
                color: #464646;
            }

            h3 {
                margin: 0 0 16px;
                padding: 0;            
                font-size: 1.875em;
                font-family: 'Montserrat';
                font-weight: 500;
                position: relative;

                &:before {
                    content: "\f095";
                    font-family: 'FontAwesome';
                    color: $brand-primary;
                    margin-right: 10px;
                }             
            }

            p {
                @extend .col-sm-6;
                a.btn {
                    padding: 15px 0 !important;
                    text-align: center;                
                    display: block; 
                    font-size: 0.938em !important;
                    line-height: 1em;

                    &:before {
                        content: '' !important;
                    }
                }            
            }

            p:first-of-type {
                padding-left: 2.500em;
                position: relative;

                &:before {
                    content: "\f015";
                    font-family: 'FontAwesome';
                    color: $brand-primary;
                    position: absolute;
                    left: 0;
                    top: 0;
                }          
            }

        }

        .awards {
            float: none;
            clear: both;

            img{
                height:88px;
            }
        }

        .service-areas {
            border: 1px solid #d7d7d7;  
            padding: 12px 15px;
            display: table;
            width: 100%;
            font-size: 0.875em;

            @include media-breakpoint-down(md) {
                margin-right: -15px;
                margin-left: -15px;
            }                

            @include media-breakpoint-down(sm) {
                width: calc(100% + 30px);
            }    

            strong {
                display: block;
                font-weight: 300;
                color: #111;
                text-transform: uppercase;
            }

            &.more{
                span{
                    display: inline-block;
                    width: 70%;
                    float: left;
                    overflow:hidden;
                    height:40px;
                    transition: overflow 0.65s ease-out;
                    &.open{
                        overflow:none;
                        height:auto;
                        transform:scaleY(1); 
                        transition:transform 0.3s ease-out; 
                    }
                }

                .btn{
                    display:inline-block;
                }
            }
            span {
                    height:40px;
                    width: 100%;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    float: none;
                }    
            }

            .btn {
                display:none;
                float: right;
                padding: 11px 25px;
                border-color: $brand-primary;
                color: $brand-primary;

                @include media-breakpoint-down(sm) {
                    float: none;
                    clear: both;
                    margin: 15px auto;
                    display: block;
                    width: 100%;
                }    
            }

            @include media-breakpoint-down(md) {
                span{
                    width:85% !important;
                    height:20px;
                }

                &.more{
                     span{
                        height:20px;
                     }
                }
            }

            @include media-breakpoint-down(sm) {
                span{
                    width:100% !important;
                }
            }
        }
    }



    #dealerCarousel {
     @extend .col-md-6;

        @include media-breakpoint-down(lg) {
            text-align: center;
        }    

        .carousel-inner {
            margin: 0;
            padding: 0;

            li {
                img {
                    margin: 0 auto;
                    height: 400px;
                    object-fit: cover;

                     @include media-breakpoint-down(sm) {
                        height: 300px;
                     }

                     @media only screen and ( max-width: 480px ) {
                        height:auto;
                     }
                }
            }
         }   

        .carousel-indicators {
            position: static;
            margin: 15px auto;

            li {
                border: 2px solid #9a9a9a;
                width: 10px;
                height: 10px;             

                &.active {
                    width: 10px;
                    height: 10px;                    
                    border: 2px solid $brand-primary;
                    background: $brand-primary;
                    margin: 1px;
                }
            }
        }

        .badges {
            margin: 40px 0 25px;


            .tooltip-inner{
                font-size:10px;
            }
        }
    }


    .dealer_content {
        float: none;
        clear: both;
        margin:2.500em 0;
        border-bottom: 1px solid #cccccc;
        padding:2.500em 0 0.682em;


        strong {
            font-size: 1.125em;
            font-weight: 400;
        }
    }


    .dealer_about {
        @extend .col-md-6;
        margin-left: -15px;

        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
        }    

        h4 {
            font-size: 1.563em;
            font-weight: 400;
        }


    }

    

    .dealer_request {
        @extend .col-md-6;
        margin-right: -15px;

        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
            margin-right: 0;
        }         

        p {
            margin: 0 0 8px;
        }
        h5 {
            margin: 0 0 8px;
            padding: 0.909em 0;
            color: #fff;
            background: $brand-tertiary;
            font-size: 1.375em;
            text-transform: uppercase;
            text-align: center;
            font-family: $font-main;
            font-weight: 300;
            line-height: 1em;
        }
        .form-control {
            padding: 1.563em !important;
        }      

        .btn {
            display: block;
            font-weight: 400;
            width: 100%;
            text-transform: uppercase;
        }  
    }

}

#googlereviews{
        padding-top:100px;
    }