.factory-authorized, .factory-authorized-dealer {

    font-weight: 500;

    /* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
    @-moz-document url-prefix() {
        font-weight: 300;
    }        


   #checked_list {
        li {
            @extend .col-md-12;
        }
   } 

   .col-md-4 {
        text-align: center;
   }

   h3 {
        font-size: 2.313em;
        font-weight: 400;
        text-transform: uppercase;
        margin: 1.216em 0;
        float: none;
        clear: both;
   }

   h5 {
        font-size: 1.250em;
        font-family: $font-main;
        font-style: italic;
        margin: 2em 0 4.375em 0;
        font-weight: 300;
   }
}