section.products{



	figure{
		@extend .col-xs-12;
		@extend .col-sm-4;
		@extend .col-md-3;
		margin-top:50px;

		span{
			border:1px solid #ccc;
			display:block;
			margin:0 10px;
			
			img{
				padding:10px;			
				width:200px;
				height:200px;
				margin:0 auto;
				float:none;
				display:block;
				max-width: 100%;
			}
		}
		
		figcaption{
			text-align:center;
			color:#000;
			padding:20px;
			font-weight: 500;
			
			@-moz-document url-prefix() {
			    font-weight: 300 !important;
			}	
		}
	}
}