.sitemap{
    ul.list{
        padding:0 50px 50px 50px;

        li{
            padding:5px;
            list-style:none;

            a{
                font-weight:500;
                color:#50527a;
            }
        }
    }
}