.warranty article.page-container {

    font-weight: 500;

    /* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
    @-moz-document url-prefix() {
        font-weight: 300;
    }            

    strong, a {
        color: $brand-primary;
    }

    h3 {
        margin: 0;
        padding: 0;
        font-size: 2.313em;
        font-weight: 400;
        color: #464646;
    }

    #checked_list {
        @include media-breakpoint-down(md) {
            margin-right: -30px;
        }            
        li p {
            background: $brand-primary !important;
            margin: 0 15px 2.5em 5px;

            &:before {
                top : 0px !important;
            }          

       }
    }

    .bg-grey {
        background: #f7f7f7;
        color: #464646;
        font-size: 1.375em;
        padding: 2.727em 1em 0;
        text-align: center;
        margin:0 1em 1.182em;


        h2 { display: none; }

        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
        }

        img {
            max-width: 100%;
        }

        p {
            font-weight: 600;

            /* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
            @-moz-document url-prefix() {
                font-weight: 400;
            }            
        }

        figure {
            margin: auto -1em;

            figcaption {
                background: $brand-primary;
                color: #fff;
                font-style: italic;
                font-weight: 500;
                padding: 1.364em 3.636em;
                text-align: center;
            }
        }


    }

}