footer#footer_main {
    background: $brand-tertiary;
    padding-bottom: 3.750em;
    padding-top: 6.250em;

    @include media-breakpoint-down(md) {
        padding-top: 5em;
    }    

    .container {
        max-width: 1170px;
        font-size: 1em;
        color: #fff;

        figure {
            @extend .col-md-4;
            margin-top: 0.5em;

            @include media-breakpoint-down(md) {
                text-align: center;
            }    

            img {
                max-width: 100%;
            }
        }

        form {
            @extend .col-md-8;
            text-transform: uppercase;

            @include media-breakpoint-down(md) {
                text-align: center;
                margin: 40px auto 50px;
            }    

            .col-xs-10, .col-xs-2 {
                padding: 0;
            }

            h3 {
                margin: 0 0 0.375em 0;
                padding: 0;
                text-transform: none;
                font-family: 'Montserrat';
                font-weight: 400;

            }

            label {
                display: block;
                color: #acacac;
                font-weight: 400;
            }

            .input-group {
                border: none;
                padding: 0;
                margin: 0 auto;
                width: 100%;
                max-width: 712px;

                input[type="text"] {
                    background: #cfd0e9;
                    border: 1px solid #fff;
                    padding: 15px;
                    height: 46px;

                    &, &::placeholder{
                        font-size: 1em;
                        line-height: 1em;                    
                        color: #5b5c6a;
                        font-weight: 400;
                    }
                } 

                button.btn-primary {
                    border: 2px solid red;
                    background: $brand-primary;
                    color: #fff !important;
                    font-size: 16px !important;
                    line-height: normal;                    
                    font-weight: 400; 
                    padding: 13px;
                    border: none;  
                    display: block;
                    width: 100%;
                    margin-left: 10px;

                    &:after {
                        content: none;
                    }

                    @include media-breakpoint-down(md) {
                        width: auto;
                    }                   

                    &:hover {
                        background: $brand-secondary;
                        color: #000;
                    }             
                }                                   
            }




        }

        p {
            @extend .col-md-6;
            border-top: 1px solid #323345;
            border-bottom: 1px solid #323345;
            padding: 25px 0;
            margin-top: 4.375em;
            font-weight: 400;

            /* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
            @-moz-document url-prefix() {
                font-weight: 300;
            }                

            @include media-breakpoint-down(md) {

                margin: 0 -15px;
                padding: 0;
                text-align: center !important;

                &:first-of-type {
                    border-bottom: none;
                    padding-top: 1.875em;
                }
                &:last-of-type {
                    border-top: none;
                    padding: 1.875em 0;
                }                
            }    

            a {
                color: #fff;
                padding-left: 15px;
                padding-right: 0;

                &:hover {
                    color: $brand-secondary
                }

                &:before {
                    content: ' | ';
                    display: inline-block;
                    margin-right: 15px;
                }

                &:first-of-type {
                    padding-left: 0;
                    margin-right: 0;
                    &:before {
                        content: none;                        
                    }
                }
            }
        }
    }
}


#back_to_top, .scolledUp #back_to_top {
    opacity: 0;
}    

.scrolledDown #back_to_top {
    opacity: 1;
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: 15px;
    background: #323345;
    display: block;
    padding: 10px 15px;

    .fa {
        font-size: 18px;
        color: #fff;
    }
}