#header_main{

	border-bottom: 2px solid $brand-primary;
	border-top: 2px solid $brand-primary;
	background: rgba(255,255,255,0.7);
	display: table;
	width: 100%;
	height: auto;
	padding: 0;

	position: fixed;
	z-index: 9999;

	//fixed nav stuffs
	.scrolledDown &, .scrolledUp & {
		box-shadow: 0 0 15px rgba(0,0,0,0.8);
		background: rgba(255,255,255,1);
		height: 69px;

		@include media-breakpoint-down(md) {
			height: auto;
		}

		.navbar-header {
			.navbar-brand img {
				height: 63px;
				@media only screen and ( max-width: 1300px ) {
					height: auto;
				}	
			}
		}

		.navbar-collapse {
			#nav_main a {
				border-top-color: transparent;
			}

			#dropdown_search_form { 
				top: 71px; 
			}
			#nav_main a,
			#find_a_dealer a {
				padding-top: 1px;
				padding-bottom: 1px;
				margin: 0;
				&:after {
					top: 7px;
				}
				&:before {
					margin-bottom: 0;
				}	
			}

			@include media-breakpoint-down(md) {
				#find_a_dealer a {
					margin: 0 15px
				}
			}				
		}		
	}


	nav {
		 @extend .navbar;
		 @extend .navbar-default;

		 height: auto;
		 max-height: none;
		 max-width: 1920px; 
		 margin: 0 auto;
		 border-radius: 0;
		 border: none;
		 display: flex;
		 align-items: center;
		 background: transparent !important;

		 //LOGO
		.navbar-header {

			@include media-breakpoint-down(md) {
				width: 100%;	
				
				.navbar-toggle {
					border: none;

					&:focus {
						background: transparent;
					}

					.icon-bar {
						background: $brand-primary;
						border-radius: 0;
						height: 3px;
						width: 20px;
					}

					&[aria-expanded="true"]{
						.icon-bar {
							position: relative;
							border-radius: 2px;
							&:nth-of-type(2) {
								transform: rotate(45deg);
								background: $brand-tertiary;
								//background: red;
								top: 3.5px;

							}							
							&:nth-of-type(3){
								display: none;
							}
							&:nth-of-type(4){
								transform: rotate(-45deg);
								background: $brand-tertiary;
								//background: green;
								top: -3.5px;
							}							
						}								
					}

			
				}

			}
								
			.navbar-brand {
				min-width: 340px;
				height: auto !important;
				padding: 0;
				margin-left: 15px;

				@media only screen and ( max-width: 1300px ) {
					min-width: 200px;
					width: 200px;
					& img {
						max-width: 100%;
					}
				}
				@include media-breakpoint-down(md) {
					min-width: 200px;
					width: 200px;	
					margin: 3px 15px;
					& img {
						width: 150px;
					}
				}					
			}
		}		

		//RESPONSIVE COLLAPSING PART
		.navbar-collapse {
			display: flex !important;
			flex: 1;
			padding: 0;
			margin: 0;
			position: relative;


			@include media-breakpoint-down(md) {
				display: none !important;

				&.in {
					display: block !important;
					position: absolute;
					top: 50px;
					left: 0;
					background: rgba(48,55,152,0.98);
					width: 100%;
					height: calc(100vh - 30px);					
				}
			}	

			//TOP MENU
			ul#nav_main {
				
				@extend .nav;
				@extend .navbar-nav;

				font-size: 1.125em;
				text-transform: uppercase;
				font-weight: 500;
				flex-grow: 1;
				display: flex;
				justify-content: center;

				/* STUPID FF/CHROME RENDERS FONT DIFFERENTLY */
				@-moz-document url-prefix() {
				    font-weight: 300 !important;
				}				

				@media only screen and ( max-width: 1300px ) {
					font-size: 0.9em;
				}	

				@include media-breakpoint-down(md) {
					display: block;
				}	



				li {
					margin: 0 2px;
				    display: flex;
				    flex-direction: row;
				    
				    justify-content: flex-start; /* align items in Main Axis */
				    align-items: stretch; /* align items in Cross Axis */
				    align-content: stretch; /* Extra space in Cross Axis */

				    &.current_page_item a, &.current-menu-item a {
						border-top-color: $brand-primary;
						border-bottom-color: $brand-primary;
						color: $brand-primary;		

						@include media-breakpoint-down(md) {
							color: $brand-secondary;
							text-decoration: underline;
						}    
				    }

					a {
						color: #50527a;
						border-top: 3px solid transparent;
						border-bottom: 3px solid transparent;
						display: flex;
						justify-content: center;
						flex-direction: column;
						padding: 13px 12px;

						&:hover {
							border-top-color: $brand-primary;
							border-bottom-color: $brand-primary;
							color: $brand-primary;
						}

						@include media-breakpoint-down(md) {
							color: #fff;
							display: block;
							padding: 7px 15px 7px 30px;
							border: none;

							&:hover {
								color: $brand-secondary;
							}
						}	
					}
				}

			}


			#dropdown_search_form {
				position: absolute;
				right: 0;
				top: 132px;
				width: 275px;
				background: rgba(255,255,255,0.5);
				text-align: center;
				padding: 0 20px 30px;
				border-bottom: 2px solid $brand-primary;
				box-shadow: rgba(0,0,0,0.5) 0 0 20px;

				@media only screen and ( max-width: 1300px ) {
					width: 220px;
					top: 130px;
				}	

				@include media-breakpoint-down(md) {
					background: $brand-tertiary;
					position: static;
					width: 100%;
				}	

				input[type=text] {
					margin-top: 30px;
					background: rgba(255,255,255,0.7);
					border: 1px solid #fff;
					width: 100%;
					padding: 0.625em 0.938em;
					font-size: 1em;
					line-height: normal;
					margin-bottom: 10px;
					@media only screen and ( max-width: 1300px ) {
						font-size: 0.875em;
					}	
				}

				button {
					background: $brand-primary;
					color: #fff;
					border: none;
					width: 100%;
					font-size: 1.125em;
					padding: 0.750em 0;
					line-height: normal;
					margin-bottom: 24px;
					@media only screen and ( max-width: 1300px ) {
						font-size: 0.875em;
					}						
				}

				#location_button {
					font-size: 1.125em !important;
					line-height: 1em !important;

					&:after {
						content: ' ';
						display: inline-block;
						width: 32px;
						height: 32px;
						background: url(../images/location-button.png) no-repeat;
						background-size: cover;
						padding: 0.556em 0;
					}

					@media only screen and ( max-width: 1300px ) {
						font-size: 0.75em !important;
						line-height: 1.3em !important;
					}						
					@include media-breakpoint-down(sm) {
						font-size: 1em !important;
						line-height: 1.3em !important;
					}	
				}
			}			


			//find a dealer
			#find_a_dealer {
				background: $brand-primary;
				color: #fff;
				font-size: 1.125em;
				text-transform: uppercase;
				font-weight: 300;	

				@media only screen and ( max-width: 1300px ) {
					font-size: 0.9em;
				}		

				@include media-breakpoint-down(md) {
					background: transparent
				}			

				* {
					transition: none !important;	
				}

				&:hover {
					@include media-breakpoint-up(lg){
						background: $brand-tertiary;
					}	
				}
				
				li {

					a {
						color: #fff;
						padding: 13px 3.750em;
						position: relative;
						margin: 18px 0 0 0;

						@include media-breakpoint-down(md) {
							padding: 0 15px;
						}	

						&:before {
							content: url(../images/find-a-dealer-case.png);
							display: block;
							text-align: center;
							position: relative;
							z-index: 1;
							margin-bottom: 1.063em;
						}

						&:after {
							content: url(../images/find-a-dealer-fan.png);	
							position: absolute;
							z-index: 2;
							top: 20px;
							left: calc(50% - 11px);
							display: block;
							width: 22px;
							height: 22px;
							animation:rotate 4s linear infinite;
						}

						@include media-breakpoint-down(md) {
							margin: 0 15px;

							&:after, &:before {
								display: none;
							}
						}						

						@keyframes rotate {
							from {
									transform: rotate(0deg);
							}
							to {
									transform: rotate(359deg);
							}
						}						
					}
				}			
			}		

		}


	

	} //nav



}



