.page-container {
    position: relative;
    padding: 15px;
    z-index: 5px;
    background: #fff;

    &:before {
        width: 70px;
        height: 145px;
        content: ' ';
        background: url(../images/shadow-left.png) no-repeat;
        position: absolute;
        top: 0;
        left: -70px;
        z-index: 1;
        @include media-breakpoint-down(lg) {
            display: none
        }            
    }    

    &:after {
        width: 70px;
        height: 145px;
        content: ' ';
        background: url(../images/shadow-right.png) no-repeat;
        position: absolute;
        top: 0;
        right: -70px;
        z-index: 1;
        @include media-breakpoint-down(lg) {
            display: none
        }    
    }        


    header {
        height: 11.250em;
        text-align: center;
        position: absolute;
        top: -11.250em;
        left: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 -15px;
        
        @include media-breakpoint-down(md) {
              position: static;

              h1 {
                margin: 0 !important;
              }
        }        

        .breadcrumb {
            background: rgba(255,255,255,0.5);
            margin: 0; 
            padding: 1.250em;
            border-radius: 0;
            text-transform: uppercase;
        }



        h1:not(:empty) {
            background-color: #fff;
            margin: 0;
            padding: 0;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            font-weight: 400;
            color: #464646;

            &:after {
                display: block;
                content: ' ';    
                border-bottom: 1px solid #303798;
                height: 1px;
                width: 50px;
                padding: 0;
                margin: 10px 0 0 0;                
            }

            @include media-breakpoint-down(md) {
                font-size: 2.500em;
            }    

        }
    }
}